*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
apikeys.gradle
apikeys.properties
# there has to be a better way to do this; for now will do this
app/src/main/res/values/secrets.xml